html {
    position : relative;
}
body {
    margin-bottom : 120px;
    margin-top: 30px;

}
.navbar-inverse {
    border: transparent;
    box-shadow: 0px 1px 10px rgba(0,0,0, 0.8);
}
#iamf{
    color:#ddd;
}
.jumbotron { 
    background-image: url(../img/cover.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    overflow: hidden;
    color:#faeded;  
    box-shadow: inset 0px -1px 10px rgba(0,0,0, 0.8); 
    
}
.jumbotron img{
    width: 20%;
    box-shadow: 1px 2px 10px rgba(0,0,0, 0.8);
    transition: 1s;
    opacity : 1;
}
.jumbotron img.hilang{
    opacity : 0;

}

.jumbotron h1, .jumbotron p {
    text-shadow: 1px 2px 6px rgba(0,0,0, 0.8);
    opacity : 1;
    transition: 2s;
}
.jumbotron h1.hilang, .jumbotron p.hilang{
    opacity : 0;
}

hr{ 
    width : 250px;
    border-top: 3px solid #666
}

section {
    min-height: 400px;
    padding-bottom: 4px;
}

.portofolio{
    background-color: #000013;
    color: #ffffff;
}
    
.pkiri, .pkanan {
    opacity: 0;
    transform: translate(-100px, 0);
    transition: 1s;

}
.pkanan{
    transform: translate(100px, 0);
}

.pkiri.pmuncul, .pkanan.pmuncul{
    opacity: 1;
    transition: 1s;
    transform: translate(0,0);
}

.portofolio.thumbnail{
    background-color: #ffffff;
    
     box-shadow:  inset 2px 5px 10px rgba(0, 0, 0, 0.705);

}

 /* element muncul on scroll */
.portofolio .thumbnail {
    opacity: 0;
    transition : 1s;

}

.portofolio .thumbnail.muncul{ 
    opacity: 1;
}

.contact {
    min-height: 500px;
    
    /* box-shadow:  0px -1px 10px rgba(0,0,0, 0.8) */
}

footer{
    position: absolute;
    width: 100%;
    height: 100px;
    bottom : 0px;
    padding: 25px 0;
    background-color: #000013;
}
footer .copyright{
    color: white;
}
footer p{
    color: gold;
    font-size: 1em;
    margin-bottom : 10;
}







